<!--The content below is only a placeholder and can be replaced.-->
<a id="top"></a>
<h1 class="toph1"> Angular Component LifeCycle Hooks </h1>
<ol class="lifecyclePoint">
  <li><a href ="#constructor">constructor</a></li>
  <li><a href ="#ngonchanges">ngOnChanges</a></li>
  <li><a href="#ngoninit">ngOnInit</a></li>
  <li><a href="#ngdocheck">ngDoCheck</a></li>
  <li><a href="#ngaftercontentinit">ngAfterContentInit</a></li>
  <li><a href="#ngAftercontentChecked">ngAfterContentChecked</a></li>
  <li><a href="#ngafterviewinit">ngAfterViewInit</a></li>
  <li><a href="#ngafterviewchecked">ngAfterViewChecked</a></li>
  <li><a href="#ngondestroy">ngOnDestroy</a></li>
</ol>
<div class="round">
  <h1> {{title}}</h1>
<table>
    <tr><td>Name: </td><td><input type="text" [(ngModel)]="name"/></td></tr>
</table>
<on-changes [name]="name"></on-changes>
</div>


